<%- include('header.ejs') %>

    <body>
        <div class="container">
            <h1>Welcome to Cocktail Making</h1>


            <form action="/select" method="POST">
                <h3><label for="dropdown">Choose your Sprit:</label></h3>
                <select id="dropdown" name="dropdown">
                    <% ingredientsArray.forEach(ingredient=> { %>
                        <option name="ingredient" value="<%=ingredient %>""><%= ingredient %>
                        </option>
                        <% }); %>


                </select>
              
                <button type=" submit">Submit</button>
            </form>
        </div>
        </div>
    </body>

    </html>