<%- include('header.ejs') %>

    <body>
        <div class="container">
            <h1>Select the Cocktail</h1>

            <form action="/making" method="POST">
                <% drinks.forEach(drink=> { %>
                    <button type="submit" name="drink" value="<%= drink.idDrink %>">
                        <%= drink.strDrink %>
                    </button>
                    <% }) %>
            </form>
        </div>
        </div>
    </body>

    </html>